*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width:100%;
}

body{
    font-family: 'Roboto+Mono' , sans-serif;
}

.links{ 
    width:50%;
    height:50px;
    padding: 10px;
    display:inline-block;
}


.plan{
    color:white;
    background-color:#FF764E;
    width:50%;
    height:50px;
    padding: 10px;
}

.learn{
    color:white;
    background-color:#5ED3EB;
    width:50%;
    height:50px;
    padding: 10px;
}

.get{
    color:white;
    background-color:#FFCD69;
    width:50%;
    height:50px;
    padding: 10px;
}

h1{
    font-family: 'Chelsea Market', cursive;
}

.img-header{
    width: 35%;
    border-radius: 50%;

}

.mid{
    background-color: #DDB9A3;
    color: white;
}

footer {
    background-color: #F9E7DC;
}